<div class="container">
  <h1>Attended Events</h1>
  <p>Events attended by <%= current_user.first_name %>.</p>

  <a href="/create_event">Create an event</a><br>
  <a href="/edit_event">Edit an event (should be in /your_events)</a><br>
  <a href="/cancel_event">Cancel an event (should be in /your_events)</a><br>

  <h3><%= current_user.first_name %> attended the following events:</h3>

  <table>
    <tr>
      <td>Event Name</td>
      <td>Host</td>
      <td>Attended?</td>
    </tr>
      <% @events.each do |event| %>
        <tr>
         <td><%= event.name %></td>
         <td><%= event.user.first_name %> <%= event.user.last_name %></td>
         <td>Yes</td>
        </tr>
      <% end %>
  <table>

</div>
