<div class="container">
  <h1>Dashboard</h1>
  <p>Welcome back <%= current_user.first_name %> <%= current_user.last_name %>.</p>

  <a href="/create_event">Create an event</a><br>
  <a href="/your_events">Events you've created</a><br>

  <h3>Everyone's events (that you can attend)</h3>

  <table>
    <tr>
      <td>Event Name</td>
      <td>Host</td>
      <td>Location</td>
      <td>Start</td>
      <td>End</td>
      <td>Attended?</td>
    </tr>
      <% @events.each do |event| %>
        <tr>
         <td><%= event.name %></td>
         <td><%= event.user.first_name %> <%= event.user.last_name %></td>
         <td><%= event.location %></td>
         <td><%= event.starts_at %></td>
         <td><%= event.ends_at %></td>
         <td>
            <% if @attendances.where(event_id: event.id).first != nil %>
              <span>Yes</span>
            <% else %>
              <a href="/attend_event/<%= event.id %>">Attend</span>
            <% end %>
         </td>
        </tr>
      <% end %>
  <table>

  <p>Add an event</p>
  <form class="signup-forms" id="create_form" action="/create_event" method="POST">
    <input type="text" name="name" placeholder="Event Name" class="input-fields" id="create_name"><br>
    <input type="text" name="location" placeholder="Location" class="input-fields" id="create_location"><br>
    <input type="datetime-local" name="start_time" placeholder="Start Time" class="input-fields" id="create_start"> - Start time<br>
    <input type="datetime-local" name="end_time" placeholder="End Time" class="input-fields" id="create_end"> - End time<br>
    <button type="submit" name="buttons" id="create_button">Create this event</button>
  </form>


</div>
